# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
classes
eclipse
run
run-*
runs
conf
*.xcf
*.pl
*.log
extra-mods-*
mcmodsrepo

# datagen caches
**/.cache

repo/
